{:id "2f1a8130-9506-11ea-948d-191fe6650fba", :delegate :dynatrace-saas, :system {:name "new-dynatrace-saas-1", :envtype "no-auth", :closed? true, :proxy {:active? true, :host "127.0.0.1", :port 8888}, :status :error, :url "https://bjm35592.live.dynatrace.com", :apitoken "EdK6PFQHSxiEpD2TKta9V", :api-token {:type :encrypted, :val "GQXRb9TXAocOPWOhCEsE/EBbvUXCBg9yAXJIDyQjphx2ZqWNx3ZDx+z6mbS88dxURjyniGyWh+zmjw6XgEpiwcQ4FyxIqOQ2uq5c4+KqIojSPUksFU6XQ4buIs6oeHHT9EPFJu7tzclOIQJqLDgyTQ=="}}}